*{
  margin: 0;
  color: white;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #0C0C0C;
}
.bgcolor{
  background-color: #0C0C0C;
  /* min-height: 100vh; */
}
.navcolor{
  background-color: #0C0C0C !important;
  height: 22vh;
}
.navbar{
  padding-bottom: 0;

}
.name {
  /* font-weight: bold; */
  letter-spacing:12px;
  /* font-size: 40px; */
  /* margin-left: 81px; */
}

.landingpage{
  
  position: relative;
  top: 60px;
  width: fit-content;
  margin: 0;
  padding: 0;
  padding: 45px;
  /* border: 1px solid #c21926; */
}
/* #content {position:relative;width:400px;height:300px;} */
#content:before, #content:after, #content>:first-child:before, #content>:first-child:after {
    position:absolute;
    width:80px; height: 80px;
    border-color:#c21926; 
    border-style:solid; 
    content: ' ';
}
#content:before {top:0;left:0;border-width: 1px 0 0 1px}
#content:after {top:0;right:0;border-width: 0 0 0 0}
#content>:first-child:before {bottom:0;right:0;border-width: 0 1px 1px 0}
#content>:first-child:after {bottom:0;left:0;border-width: 0 0 0 0}
/* .col-md-8{
  margin-left: 82px;
  margin-top: 36px;
} */

.landingphoto img{  
  width: 26vw;

}
.career{
  /* margin-left: 81px; */
  color:#c21926;
  font-weight: bold;
  letter-spacing: 4px;
}
.tagline{
  /* margin-left: 81px; */
  color: rgba(255, 255, 255,0.6)
  
}
.union img, .union2 img{
  width: 5vw;

}
.union{
  position: relative;
  top: 88px;
  left: 56px;
}
.union2{
  position: relative;
  top: -8px;
  left: 449px;

}
/* .firstpage{
  height: 78vh;
} */
.aboutUs{
  /* color:rgba(255, 255, 255, 60%); */
  color: #FFFFFF;

}
.shape,.shape2{
  background-color: #E5E5E5 ;
  height: 350px;
  width: 350px;
  animation: wave 5s ease-in-out infinite ;
  
  z-index: 1;
  border: 3px solid ;
  overflow: hidden;
}
.shape2{
  height: 200px;
  width: 200px;
}
.shape img{
  z-index: 2;
  position: relative;
  top: 9%;
  left: 14%;
  width: 264px;
}
.projecttext,.formtext{
  display: flex;
  flex-direction: column;
}
.formtext{
  width: 30vw;
}
.contactbtn{
  margin-bottom: 4em;
}

@keyframes wave {
  0%, 100% {
      border-radius: 66% 34% 37% 63% / 57% 31% 69% 43%;
  }
  50%{
      border-radius: 26% 74% 51% 49% / 22% 53% 47% 78%;
  }
}

.col-md-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.aboutme{
  border-left: solid 3px #c21926;
}
.aboutmetext{
  padding-left: 32px;
  color:rgba(255, 255, 255, 60%);
}
.projecttext>.btn-primary,.projecttext>.btn-primary:focus{
  background-color: #c21926;
  border:none;
  box-shadow: none;
}
.contact{
  border: 1px solid #c21926;

}
input{
  border-top:0;
  border-right: 0;
  border-left: 0;
  
}
.contactinput{
  background-color:#0C0C0C; 
}
.heart img{
  width: 2vw;
}
@media only screen and (max-width:1024px) {
  .icons{
    display: none;
  }
  @media only screen and (max-width:770px){
    .aboutme{
      border:none;
      padding-top: 25px;
    }
    
  }
}
